Required format for `site_hosts` (group_vars/{{ env }}/wordpress_sites.yml):

amatelo.com:
  site_hosts:
    - canonical: amatelo.com

The above is the minimum required. Multiple hosts and redirects are possible:

amatelo.com:
  site_hosts:
    - canonical: amatelo.com
      redirects:
        - www.amatelo.com
        - site.com
    - canonical: example.co.uk
      redirects:
        - www.example.co.uk
