Required format for `site_hosts` (group_vars/{{ env }}/wordpress_sites.yml):

eo.com:
  site_hosts:
    - canonical: eo.com

The above is the minimum required. Multiple hosts and redirects are possible:

eo.com:
  site_hosts:
    - canonical: eo.com
      redirects:
        - www.eo.com
        - site.com
    - canonical: example.co.uk
      redirects:
        - www.example.co.uk
